apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webapp
  namespace: argocd
spec:
  project: default
  ignoreDifferences:
    - group: apps
      kind: Deployment
      name: webapp
      namespace: webapp
      jsonPointers:
        - /spec/replicas
  source:
    repoURL: https://github.com/kompiuteriu3-blip/KTU_test.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: webapp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
